@import-normalize;

/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
       url('/fonts/source-code-pro-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-code-pro-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-code-pro-500 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
       url('/fonts/source-code-pro-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-code-pro-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-code-pro-700 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'),
       url('/fonts/source-code-pro-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-code-pro-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
}

body {
	user-select: none;
	height: 100%;
	margin: 0;
	background-color: #1a1919;
	color: white;
	display: flex;
	flex-direction: column;
}

main {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hidden {
	display: none !important;
}

.spacer {
	margin-top: 4vh;
}

.container {
	max-width: 1080px;
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 1em;
}

a {
	cursor: pointer;
	text-decoration-color: #f44336;
	text-decoration: none;
	color: white;
}

a h3 {
	color: #f44336;
}

a:hover {
	text-decoration: underline;
}

.container.about {
	text-align: center;
}

.container.about a {
	margin: 0 1em;
}

section {
	display: flex;
	justify-content: center;
}

header, .nav {
	background: rgba(255, 255, 255, .1);
}


header>.container {
	display: flex;
	align-items: center;
}

header svg {
	padding: 1em;
}

header>svg * {
	fill: white;
}

.container.gallery {
	flex-grow: 1;
	padding: 0;
}

.container.gallery>.grid {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: calc(100vh - 130px);
	max-height: 100vmin;
	width: calc(100vh - 130px);
	max-width: 100vmin;
	flex-grow: 1;
	justify-content: center;
	align-content: center;
	margin: auto;
}

.container.gallery>.grid>.image {
	box-sizing: border-box;
	padding: 1vmin;
	height: 20%;
	width: 20%;
	position: relative;
}

.container.gallery>.grid>.image>img {
	height: 100%;
	border: 1px solid rgba(255, 255, 255, .7);
	cursor: pointer;
}

.container.gallery>.grid>.image:first-child>img {
	border: 2px solid #f44336;
}

.nav>.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav>.container>* {
	padding: 1em;
}

.selected {
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 1.5vmin);
	height: calc(100% - 1.5vmin);
	margin: 1vmin;

	display: flex;
	justify-content: center;
	align-items: center;
}

.selected span {
	font-weight: 700;
	font-size: 2em;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);

	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spin-forever {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 3px solid white;
	border-right-color: transparent;
	animation: spin-forever 1s infinite linear;
}

@media (max-width: 700px) {
	header>.container {
		justify-content: center;
	}

	section {
		flex-direction: column;
	}
}
